
// page colors 
$primary-color: rgb(132, 25, 240);
$background-color: #F5F5F5;

// text colors
$dark-text: #2F4F4F;
$light-text: #F5F5F5;

// fonts
// $title-font: 'Concert One', cursive;
$text-font: 'Special Elite', sans-serif;
$title-font: 'Special Elite', cursive;

$footer-height: 50px;
